<form>
  <input type="number" name="noofspaces" class="form-control" [(ngModel)]="N" placeholder="Enter no. of parking slot" min="1">
  <input type="number" name="noofcarsinps" [(ngModel)]="m" placeholder="Enter no. of cars currently in the parking lot" min="1" class="form-control" max="{{N}}">
  <button (click)="createParkingLot()">Create</button>
</form>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Car No</th>
      <th>Color</th>
      <th>Slot No.</th>
      <th>Date Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of no_of_parkingspace_arr; let i=index;">
      <td>{{i+1}}</td>
      <td>{{item.regno}}</td>
      <td>{{item.color}}</td>
      <td>{{item.alloted_slot_no}}</td>
      <td>26 Jan 2019</td>
    </tr>
  </tbody>
</table>
