<h3 class="text-center heading-1 py-4 mb-4">Automated Parking Lot System</h3>

<div class=" container  mt-5">
  <form id="pakinglot_creationForm" class="d-none">
    <div class="col-4 d-inline-block">
      <label>Enter no. of parking slot<span class="text-danger">*</span></label><br>
      <input type="number" name="noofspaces" class="form-control" [(ngModel)]="N" placeholder="Enter no. of parking slot" min="1" required>
    </div>
    <div class="col-4 d-inline-block">
      <label>Enter no. of cars currently in the parking lot<span class="text-danger">*</span></label><br>
      <input type="number" name="noofcarsinps" [(ngModel)]="m" placeholder="Enter no. of cars currently in the parking lot" min="0" class="form-control " max="{{N}}" required>
    </div>
    <div class="col-2 d-inline-block">
      <button (click)="createParkingLot()" class="addCursor btn btn-danger" [disabled]="(this.N=='' || this.N==null || this.m <0 || this.N <0)">Create</button>
    </div>
  </form>
</div>


<div id="listOfCarsParked" class="d-none container-fluid">
  <div class="my-3">
    <div class=" d-inline-block">
      <p class="mb-1">Total Parking Slots - <span class="text-danger">{{N}}</span></p>
      <p class="mb-0" *ngIf="next_available_slots_arr">Available Parking Slots - <span class="text-danger">{{next_available_slots_arr.length}}</span></p>
    </div>
    <div class="d-inline-block float-right">
      <button type="button" data-target="#parkNewCarModal" data-toggle="modal" class="addCursor btn btn-danger fontsize-14">Park a Car</button>
    </div>
    <div class="d-inline-block float-right">
      <button type="button" data-target="#queryDataModal" data-toggle="modal" class="addCursor btn fontsize-14 btn-success mx-2">Query Data</button>
    </div>
  </div>
  <div class="mt-5 mb-3 text-right">
    <form [formGroup]="searchForm">
      <div class="d-inline-block">
        <input type="text" name="regno" placeholder="Type Reg No." class="form-control text-uppercase fontsize-14" formControlName="regno">
      </div>
      <div class="d-inline-block ml-2">
        <select class="form-control fontsize-14" formControlName="color">
          <option value="">Choose Color</option>
          <option *ngFor="let color of color_list">{{color}}</option>
        </select>
      </div>
      <div class="d-inline-block ml-2">
        <button (click)="searchFromArray(getDataFromSession('sessionDataJson')['parkedCarsDetails'],searchForm.value)" class="btn btn-info fontsize-14">Search</button>
      </div>
      <div class="d-inline-block ml-2">
        <button (click)="resetSearch()" class="btn btn-secondary fontsize-14">Reset</button>
      </div>
    </form>
  </div>
  <h5 *ngIf="no_of_parkedcars_details_arr && no_of_parkedcars_details_arr.length ==0" class="text-center text-capitalize">
    No Cars Parked
  </h5>
  <div class="table-responsive" *ngIf="no_of_parkedcars_details_arr && no_of_parkedcars_details_arr.length >0">
    <table class="table table-bordered table-hover ">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th (click)="sort('regno')">Car No <i class="fa ml-2 addCursor" [ngClass]="{'fa-sort': column != 'regno','fa-sort-asc': (column == 'regno' && isDesc), 'fa-sort-desc': (column == 'regno' && !isDesc) }"> </i></th>
          <th class="text-center" (click)="sort('color')">Color <i class="fa ml-2 addCursor" [ngClass]="{'fa-sort': column != 'color','fa-sort-asc': (column == 'color' && isDesc), 'fa-sort-desc': (column == 'color' && !isDesc) }"> </i></th>
          <th class="text-center" (click)="sort('alloted_slot_no')">Slot No.<i class="fa ml-2 addCursor" [ngClass]="{'fa-sort': column != 'alloted_slot_no','fa-sort-asc': (column == 'alloted_slot_no' && isDesc), 'fa-sort-desc': (column == 'alloted_slot_no' && !isDesc) }"> </i></th>
          <th class="text-center" (click)="sort('parking_date')">Date Time <i class="fa ml-2 addCursor" [ngClass]="{'fa-sort': column != 'parking_date','fa-sort-asc': (column == 'parking_date' && isDesc), 'fa-sort-desc': (column == 'parking_date' && !isDesc) }"> </i></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="fontsize-14">
        <tr *ngFor="let item of no_of_parkedcars_details_arr | sort: {property: column, direction: direction}; let i=index;">
          <td>{{i+1}}</td>
          <td class="text-uppercase">{{item.regno}}</td>
          <td class="text-center">{{item.color}}</td>
          <td class="text-center">{{item.alloted_slot_no }}</td>
          <td class="text-center">{{item.parking_date | date:'dd MMM y , h:mm a'}}</td>
          <td class="text-center"><button (click)="removeCarsFromParking(item)" class="addCursor btn btn-warning fontsize-14">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" id="parkNewCarModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Car Details</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="parkNewCarForm" *ngIf="availableSlot()!=0">
          <div class="row">
            <div class="col-md-6">
              <label>Car No. <span class="text-danger">*</span></label><br>
              <input type="text" id="1" name="" class="form-control text-uppercase d-inline-block col-2" formControlName="regnostr1" (keyup)="checkTextAndPassKey($event)" maxlength="2"> -
              <input type="text" id="2" name="" class="form-control text-uppercase d-inline-block col-2" formControlName="regnostr2" (keyup)="checkTextAndPassKey($event)" maxlength="2"> -
              <input type="text" id="3" name="" class="form-control text-uppercase d-inline-block col-2" formControlName="regnostr3" (keyup)="checkTextAndPassKey($event)" maxlength="2"> -
              <input type="text" id="4" name="" class="form-control text-uppercase d-inline-block col-3" formControlName="regnostr4" (keyup)="checkTextAndPassKey($event)" maxlength="4"> 
              <p class="text-danger mt-2 fontsize-14">(Eg. KA-01-HH-1234 or KA-04-TY-3469 )</p>
            </div>
            <div class="col-md-6">
              <label>Color <span class="text-danger">*</span></label>
              <select formControlName="color" class="form-control" id="5">
                <option value="">Choose Color</option>
                <option *ngFor="let opt of color_list" value="{{opt}}">{{opt}}</option>
              </select>
            </div>
            <div class="col-md-6 mt-4">
              <p>Available Slot - {{availableSlot()}}</p>
            </div>
            <div class="col-md-12">
              <span class="text-danger fontsize-14" *ngIf="validateForm().length>0"> Registration No should be in proper format. 
                <span *ngIf=" (validateForm().includes('regnostr1'))">First block will have 2 characters only. </span>
                <span *ngIf=" (validateForm().includes('regnostr2'))">Second block will have 2 digits only. </span>
                <span *ngIf=" (validateForm().includes('regnostr3'))">Third block will have 2 characters only. </span>
                <span *ngIf=" (validateForm().includes('regnostr4'))">Fourth block will have 4 digits only.</span>
              </span>
            </div>
            <div class="col-md-12 text-right">
              <button class=" addCursor my-2 btn btn-danger" [disabled]="!parkNewCarForm.valid" (click)="allotSlotToCar(parkNewCarForm.value)" [ngClass]="{'cursor-disable':!parkNewCarForm.valid}">Park</button>
            </div>
          </div>
        </form>
        <p *ngIf="availableSlot()==0" class="text-center">No Parking Available</p>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="queryDataModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Query Data</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closeQueryModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <select [(ngModel)]="queryQuestionNo" class="form-control my-2" (change)="toggleElements($event.target)">
          <option value="">Select Question</option>
          <option value="1">Total no. of cars parked on a particular date?</option>
          <option value="2">Total amount earned on a day?</option>
          <option value="3">No. of cars parked of a particular color?</option>
          <option value="4">No. of cars parked on a particular date of a particular color?</option>
          <option value="5">Total amount earned in this week?</option>
          <option value="6">Total amount earned within a range?</option>
        </select>
        <ng-container *ngIf="(queryQuestionNo==1 || queryQuestionNo==2 || queryQuestionNo==4)">
          <input type="date" name="selected_date" [(ngModel)]="querymodal_selecteddate" class="form-control my-2" id="selected_date_query">
        </ng-container>
        <ng-container *ngIf="(queryQuestionNo==3 || queryQuestionNo==4)">
          <select [(ngModel)]="querymodal_selectedcolor" class="form-control my-2" id="querymodal_selectedcolor">
            <option value="">Choose Color</option>
            <option *ngFor="let color of color_list">{{color}}</option>
          </select>
        </ng-container>
        <ng-container *ngIf="(queryQuestionNo==6)">
          <label>From Date</label>
          <input type="date" name="selected_date" [(ngModel)]="querymodal_selecteddate_from" class="form-control my-2" id="selected_date_query_from">
        </ng-container>
        <ng-container *ngIf="(queryQuestionNo==6)">
          <label>To Date</label>
          <input type="date" name="selected_date" [(ngModel)]="querymodal_selecteddate_to" class="form-control my-2" id="selected_date_query_to">
        </ng-container>
        <button (click)="queryToData()" class="btn btn-info pull-right">Result</button>
      </div>
      <h5 class="my-2 mx-2"> {{querymodal_result}}</h5>
    </div>
  </div>
</div>